* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
}

body {
  background-color: #fff;
  position: relative;
}

.container {
  padding: 6vh 8vw;
}

.container-move {
  padding-left: 400px;
  overflow: hidden;
}

h1,
h2 {
  position: relative;
  font-weight: 800;
}

.btn {
  display: block;
  background-color: #3fb1b5;
  height: 55px;
  border-radius: 1.8rem;
  box-shadow: 10px 10px 42px -17px rgba(66, 68, 90, 1);
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 55px;
  min-width: 250px;
  border: none;
  grid-column: 2;
  font-weight: 300;
}

header {
  display: grid;
  position: relative;
  grid-template-columns: 100fr auto;
  align-items: center;
  h1 {
    font-size: 1.7em;
    grid-column: 1;
    padding-left: 68px;
  }
  h1::before {
    content: " ";
    position: absolute;
    background: url(../svg/document-website/map_university.svg) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
    bottom: -6px;
    left: 0;
  }
}

.menu {
  position: absolute;
  height: 100%;
  left: -350px;
  width: 350px;
  background: rgb(246, 246, 246);
  padding-top: 150px;
  .item,
  .sub-item {
    display: block;
    position: relative;
    padding: 15px;
    padding-left: 0;
    margin-left: 50px;
    font-size: 1.2rem;
  }
  .item::before,
  .sub-item::before {
    content: " ";
    background: url(../svg/document-website/Vector-right.svg) no-repeat;
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 21px;
    left: -30px;
    filter: invert(100%) sepia(50%) saturate(1300%) hue-rotate(500deg)
      brightness(70%) contrast(119%);
  }
  .sub-menu {
    margin-left: 30px;
    list-style: none;
    a {
      text-decoration: none;
    }
  }
}

.active {
  left: 0;
}

.navbar-toggler {
  position: absolute;
  left: 50px;
  top: 6vh;
  z-index: 99;
  background-color: transparent;
  display: block;
  width: 40px;
  height: 50px;
  border: 0;

  .navbar-toggler-icon {
    position: relative;
    width: 40px;
    height: 3px;
    background-color: rgb(116, 116, 116);
    border-radius: 8px;
  }

  .navbar-toggler-icon::after,
  .navbar-toggler-icon::before {
    content: " ";
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: rgb(116, 116, 116);
    border-radius: 8px;
    right: 0;
    transition: all 0.3s;
  }

  .navbar-toggler-icon::after {
    transform: translateY(-12px);
  }

  .navbar-toggler-icon::before {
    transform: translateY(12px);
  }

  .navbar-toggler-icon.none {
    height: 0;
  }

  .navbar-toggler-icon.aft:after {
    transform: rotate(-135deg);
    background-color: rgb(63, 177, 181);
  }

  .navbar-toggler-icon.bfr::before {
    transform: rotate(135deg);
    background-color: rgb(63, 177, 181);
  }
}

.nav-bgc::before {
  content: " ";
  position: absolute;
  top: -6vh;
  left: -8vw;
  width: 16vw;
  height: 100%;
  background: lightgray;
  opacity: 0.5;
  z-index: -1;
}

.front-page {
  position: relative;
  margin-top: 4vh;
  .sub-container {
    margin-left: 2vw;
    margin-bottom: 7vh;
    font-size: 1.4em;
    ul {
      list-style: none;
      li {
        margin-bottom: 2vh;
        a {
          position: relative;
        }
      }
    }
    h3 {
      margin: 3vh 0 2vh 0;
    }
    h3,
    h4 {
      font-size: 2em;
    }
    .zastosowanie {
      display: block;
      margin-left: auto;
      width: fit-content;
      padding-top: 1vh;
      margin-bottom: 2vh;
    }
    .zastosowanie:hover {
      color: #3fb1b5;
    }
  }
  h1,
  h2 {
    // position: relative;
    // padding-left: 45px;
    font-size: 3em;
    padding-bottom: 4vh;
    // width: fit-content;
  }
  h2 {
    font-size: 2.3em;
  }
  // h1::before,
  // h2::before {
  //   position: absolute;
  //   content: " ";
  //   background: url(../svg/document-website/Vector-left.svg) no-repeat;
  //   background-size: contain;
  // }
  // h1::after,
  // h2::after {
  //   position: absolute;
  //   content: " ";
  //   background: url(../svg/document-website/Vector-right.svg) no-repeat,
  //     url(../svg/document-website/mdi_slash-forward.svg) no-repeat;
  //   background-size: contain, 100%;
  // }
  // h1::before {
  //   width: 40px;
  //   height: 40px;
  //   top: 15px;
  //   left: 0;
  // }
  // h2::before {
  //   width: 30px;
  //   height: 30px;
  //   top: 15px;
  //   left: 0;
  // }
  // h1::after {
  //   width: 80px;
  //   height: 40px;
  //   top: 15px;
  //   right: -85px;
  //   background-position: top 0 left 35px, top -14px left -28px;
  // }
  // h2::after {
  //   width: 50px;
  //   height: 30px;
  //   top: 15px;
  //   right: -60px;
  //   background-position: top 0 left 19px, top -14px left -14px;
  // }
}

.git,
.linkedin {
  margin-left: 15px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.git::before,
.linkedin::before {
  position: absolute;
  content: " ";
  width: 30px;
  height: 30px;
  bottom: -6px;
  left: 0;
}

.git::before {
  background: url(../svg/document-website/akar-icons_github-fill.svg) no-repeat;
  background-size: contain;
}

.linkedin::before {
  background: url(../svg/document-website/akar-icons_linkedin-fill.svg)
    no-repeat;
  background-size: contain;
}

.git:hover::before,
.linkedin:hover::before {
  filter: invert(100%) sepia(50%) saturate(1300%) hue-rotate(500deg)
    brightness(70%) contrast(119%);
}

footer {
  h1 {
    width: fit-content;
    margin: 0 auto;
    font-size: 2em;
    padding-left: 35px;
  }
  h1::before {
    content: " ";
    position: absolute;
    background: url(../svg/document-website/map_university.svg) no-repeat;
    background-size: contain;
    width: 65px;
    height: 65px;
    bottom: -6px;
    left: -35px;
  }
}

@media (max-width: 1500px) {
  header {
    h1 {
      margin-left: 40px;
    }
  }
}

@media (max-width: 960px) {
  * {
    font-size: 0.92em;
  }

  .container {
    padding: 6vh 15px;
  }

  .container-move {
    padding: 6vh 450px;
  }

  .navbar-toggler {
    height: 20px;
    left: 15px;
    width: 34px;
    .navbar-toggler-icon,
    .navbar-toggler-icon::after,
    .navbar-toggler-icon::before {
      width: 34px;
      height: 4px;
    }
    .navbar-toggler-icon::before {
      transform: translateY(10px);
    }
    .navbar-toggler-icon::after {
      transform: translateY(-10px);
    }
  }

  .menu {
    padding-top: 100px;
    width: 100vw;
    left: -100vw;
    height: auto;
  }

  .body-disappear {
    display: none;
  }

  .active {
    left: 0;
  }

  .btn {
    font-size: 1.1em;
    height: 25px;
    line-height: 25px;
    min-width: max-content;
    padding: 0 8px;
  }

  header {
    h1 {
      margin-left: 53px;
      padding-left: 53px;
      font-size: 1.5em;
    }
    h1::before {
      width: 50px;
      height: 50px;
      bottom: -8px;
      left: 0;
    }
  }

  .git,
  .linkedin {
    margin-left: 10px;
    width: 25px;
    height: 25px;
  }

  .git::before,
  .linkedin::before {
    width: 25px;
    height: 25px;
    bottom: -7px;
  }
  footer {
    h1 {
      font-size: 2em;
      padding-left: 58px;
    }
    h1::before {
      width: 55px;
      height: 55px;
      bottom: -6px;
      left: 0px;
    }
  }
}
